@font-face {
    font-family: system-ui;
}

* {
  font-family: "system-ui";  
}

body {
  margin: 0;
  padding: 0;
}

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center; 
  overflow: hidden;
  padding: 20px 10px;
  background-color: #ebeae9;
}

.logo {
  float: left;
  margin-left: 10px;
}

.logo img {
  width: 400px;
}
      
.links {
  margin-top: 20px;
}

.links a {
  text-decoration: none;
  color: black;
  text-align: center;
  padding: 12px;
}

.links a:hover {
  color: blue;
  cursor: pointer;
}

.row, .footer-row {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  align-items: center;
  justify-content: center;
  grid-gap: 30px;
  margin: 5px 5px;
  padding: 20px 20px;
}

.merch {
  position: relative;
}

.merch img {
  width: 300px;
  height: 400px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: black;
}

.merch:hover .overlay {
  opacity: 0.6;
}

.merch span {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.headings-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.order-container {
  background-color: #ebeae9;
  padding: 10px;
}

.order-container h3 {
  text-align: center;
}

.action-section {
  padding: 5px;
}

.action-section input {
  height: 30px;
  width: 250px;
}

.action-section label { 
  margin-bottom: 10px;
}

.action-section button {
  width: 90px;
  height: 30px;
  background-color: black;
  color: white;
  border-style: none;
}

.action-section button:hover {
  background-color: white;
  color: black;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}

.action-section:last-child {
  display: flex;
  justify-content: center;
}

.footer-container {
  display: flex; 
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 20px 10px;
  margin-top: 40px;
  background-color: #201e1e;
}

.footer-row .footer-links {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.footer-links * {
  margin-bottom: 10px;
}

.footer-links a, .footer-links span {
  color: white;
  text-decoration: none;
}

.footer-links a:hover {
  color: blue;
}

.footer-row .footer-social-icons {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.footer-social-icons a {
  color: black;
  text-decoration: none;
  margin-right: 10px;
}

@media (max-width: 1000px) {
  .row {
    grid-template-columns: repeat(2, 300px); 
  }
}

@media (max-width: 768px) {
  .row, .footer-row {
    grid-template-columns: repeat(1, 300px); 
  }
}
